/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/
/**
 * 1) Container that consists of of a page header title and description
 */

/**
 * Page header title
 */
.c-page-header__title {
	text-align: center;
	margin: $spacing-large auto $spacing-small;
}

/**
 * Page description
 */
.c-page-header__description {
	font-size: $font-size-med-2;
	text-align: center;
	margin: 0 auto $spacing;
}
