/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/
/**
 * 1) Container that consists of of a page header title and description
 */

/**
 * Page header title
 */
.c-page-header__title {
	padding-top: $spacing-xlarge;
	text-align: center;
	margin: 0 auto $spacing-small;
	font-size: $font-size-med-2;

	@include xl {
		font-size: $font-size-large;
	}

}

/**
 * Page description
 */
.c-page-header__description {
	font-size: $font-size-med-2;
	text-align: center;
	margin: 0 auto $spacing;
}
