/*------------------------------------*\
    #PRIMARY NAVIGATION
\*------------------------------------*/

/**
 * Bootstrap notes: https://getbootstrap.com/docs/5.2/components/navbar/
 */
/* 

/**
 * Primary navigation existing in the header and maybe the footer
 */
.navbar {
	margin-left: auto;
}

/**
 * Primary navigation list
 */
.navbar-nav {
	display: flex;
}

/**
 * Primary navigation item
 */
.nav-item {
	margin-left: 2rem;
}

/**
 * Primary navigation link
 */
.nav-link {
	display: block;
	padding: 0.5rem 0;
	cursor: pointer;
}
