<main>

    {{#> molecules-layout-container }}

        {{> molecules-page-header }}

        {{#> molecules-layout-container(image: true) }}

        {{> atoms-puppy }}

        {{/ molecules-layout-container }}

        {{> organisms-text-passage }}

    {{/ molecules-layout-container}}

</main>

{{> organisms-footer }}